.jumbotron {
	background-color: #fdf8e1;
	border: 1px solid #f2cb3b;

	h2 {
		color: #c41200;
		font-weight: bold;
	}

	h3 {
		color: #333;
		font-weight: 500;
	}
}

.navbar {
	background-color: #b80b03 !important;
	padding: 0;
	&-nav > li > a {
		color: #fff !important;
		font-weight: bold;
		font-size: 1rem;
	}
	&-brand {
		color: black;
		font-size: 2rem;
		font-weight: bold;
		font-family: 'Hobo Std';
		text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff,
			1px -1px 0 #fff, -1px 1px 0 #fff;
	}
	.container-fluid {
		padding: 0.5rem 120px;
	}
}

.container-fluid {
	padding: 10px 120px;
}

form.new_user,
form.edit_user,
form.user_review {
	padding-bottom: 1.5rem;
}

table {
	td {
		&.reviewer {
			width: 30%;
		}
	}
}
